
<div class="card "
     [ngClass]="{'list-group-item-danger': car.isSold}"

     style="width: 18rem; margin-top: 2%;" appHover  >
  <img src="{{car.img}}" class="card-img-top" alt="">
  <div class="card-body">
    <h5 class="card-title">{{car.name}}</h5>
    <p class="card-text">{{car.model}}</p>
    <hr>
    <button type="button" (click)="onBuy()" [disabled]=" car.isSold"  class="btn btn-dark btn-sm">Buy </button>
    <button type="button" (click)="onDelete()" class="btn btn-danger btn-sm">Delete </button>
    <small>{{car.date}}</small>
  </div>
</div>
