<div class="row">
  <div class="form-group">
    <label class="form-control " for="first_name2">Amount Users :</label>
    <input [(ngModel)]="size"   id="first_name2" type="text" class=" form-control validate">


    <button (click)="onChange()" type="button" class="btn btn-dark form-control btn-sm">Edit</button>
  </div>

</div>
<button class="btn btn-dark btn-sm" (click)="save()">Save</button>
<div style="position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 10px;">
  <button class="btn btn-dark btn-sm" (click)="goHome()">Go Home</button>
</div>
