<div class="row">
  <div class="input-field col s9">
    <input [(ngModel)]="size"   id="first_name2" type="text" class="validate">
    <label class="active" for="first_name2">Amount Users</label>
    <a
      (click)="onChange()"
      class="waves-effect appHover light-blue lighten-3 btn">Edit</a>
  </div>
  <button class="btn btn-default" (click)="save()">Сохранить</button>
</div>
<div style="position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 10px;">
  <button class="waves-effect appHover light-blue lighten-3 btn" (click)="goHome()">Go Home</button>
</div>
