
<ul class="nav nav-tabs" id="myTab" role="tablist">

  <li class="nav-item" appHover>
    <a class="nav-link  " id="profile-details" data-toggle="tab" routerLink="profile-details" role="tab" aria-controls="profile-details" aria-selected="true">Profile-details</a>
  </li>
  <li class="nav-item" appHover>
    <a class="nav-link" id="profile-message" data-toggle="tab" routerLink="profile-message" role="tab" aria-controls="profile-message" aria-selected="false">Profile-message</a>
  </li>

</ul>

<div style="margin-top: 50px;">
  <div class="row" >
    <router-outlet></router-outlet>
  </div>
</div>
