<div class="form-group">
  <label for="car-name">Car Name</label>
  <input type="text"
         class="form-control"
         id="car-name"
         [(ngModel)]="carName"
         placeholder="Car Name">
</div>

<div class="form-group">
  <label for="car-model">Car Model</label>
  <input type="text"
         class="form-control"
         id="car-model"
         placeholder="Car Model"
         [(ngModel)]="carModel">

</div>

<div class="form-group">
  <label for="car-img">Image</label>
  <input type="text"
         class="form-control"
         id="car-img"
         placeholder="Car Image"
         [(ngModel)]="carImg">

</div>

<button type="button" (click)="onAdd()" class="btn btn-dark">Add Car</button>
<button type="button" (click)="onLoad()" class="btn btn-danger">Load Cars</button>
