

<div class="col mb-sm-3 ">
      <div class="card h-100 text-white bg-dark " appHover [ngClass]="{'active1': isActive}" style="border: none!important;">
        <img src="{{cell?.picture.large}}" class="card-img-top" alt="{{cell?.name.first}}">
        <div class="card-body">
          <h5 class="card-title">{{cell?.name.first}}</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
</div>
